In [ ]:
people = {
    "first": ['vivek', 'shashwat', 'sumit'],
    "last": ['vishal', 'verma', 'narayan'],
    "email": ['vishalvivek488@gmail.com', 'shashwatverma@gmail.com', 'sumit@mgmail.com']
}

In [ ]:
people['email']

['vishalvivek488@gmail.com', 'shashwatverma@gmail.com', 'sumit@mgmail.com']

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(people)

In [ ]:
df

      first     last                     email
0     vivek   vishal  vishalvivek488@gmail.com
1  shashwat    verma   shashwatverma@gmail.com
2     sumit  narayan          sumit@mgmail.com

In [ ]:
type(df)
# pandas.core.frame.DataFrame

pandas.core.frame.DataFrame

In [ ]:
df['email']

0    vishalvivek488@gmail.com
1     shashwatverma@gmail.com
2            sumit@mgmail.com
Name: email, dtype: object

In [ ]:
# A Pandas DataFrame is a two-dimensional, mutable, tabular data structure with labeled axes (rows and columns). It is a fundamental object in the Pandas library, widely used for data manipulation and analysis in Python
type(df['email'])
# pandas.core.series.Series
# think of dataframes as rows and columns ( dataframes are 2-d)
# think of series as rows of a single column
# dataframe is just a container for multiple series objects

pandas.core.series.Series

In [ ]:
df.email # dot notation, preferred df.count , df['count']

0    vishalvivek488@gmail.com
1     shashwatverma@gmail.com
2            sumit@mgmail.com
Name: email, dtype: object

In [ ]:
# multiple columns 
# pass a list of columns using double-bracket notation.

df[['last', 'email']] # returns dataframe and not a series ( series is just 1 d)
# here ensure to pass a list of keys to df[], list inside []

      last                     email
0   vishal  vishalvivek488@gmail.com
1    verma   shashwatverma@gmail.com
2  narayan          sumit@mgmail.com

In [ ]:
df.columns
# Index(['first', 'last', 'email'], dtype='object')

Index(['first', 'last', 'email'], dtype='object')

In [ ]:
# to get rows, use loc and iloc indexers
# iloc = integer location, search by numberic index
# loc = search by label

#iloc # integer location
df.iloc[0] # first row  -> series
print(type(df.iloc[0])) # <class 'pandas.core.series.Series'>

# returns a series that contains value of first row of data
# i.e. first, last and email of first person here

# here the index is set to column names
df.iloc[[0,1]] # a dataframe containing first and second rows

#   first	    last	email
# 0	vivek	    vishal	vishalvivek488@gmail.com
# 1	shashwat	verma	shashwatverma@gmail.com

## get email of first and second row
df.iloc[[0,1],2]

# 0    vishalvivek488@gmail.com
# 1     shashwatverma@gmail.com
# Name: email, dtype: object

<class 'pandas.core.series.Series'>

0    vishalvivek488@gmail.com
1     shashwatverma@gmail.com
Name: email, dtype: object

## using loc ( label indexer)

In [ ]:
# using loc w/o custom labels looks a lot like iloc because
# we have to use a numeric value

df.loc[0] # first row
# first                       vivek
# last                       vishal
# email    vishalvivek488@gmail.com
# Name: 0, dtype: object

df.loc[[0,1]] # getting first and second rows

#   first	    last	email
# 0	vivek	    vishal	vishalvivek488@gmail.com
# 1	shashwat	verma	shashwatverma@gmail.com

# now to get email of first and second person
df.loc[[0,1], 'email'] # df.iloc[[0,1], 2] # email is third column (2)

# 0    vishalvivek488@gmail.com
# 1     shashwatverma@gmail.com
# Name: email, dtype: object


# retriving multiple columns 
df.loc[[0,1], ['email', 'last']]

# getting email of first person
df.loc[0,'email'] # vishalvivek488@gmail.com
# note we can drop the brackets when selecting rows and a column together
# 
df.loc[0:1, 'email'] 
# df.iloc[0:2, 2] # email is 3rd column


# 0    vishalvivek488@gmail.com
# 1     shashwatverma@gmail.com
# Name: email, dtype: object

# drop brackets when selecting a slice of rows and columns
df.loc[0:2, 'last':'email']


#   last	email
# 0	vishal	vishalvivek488@gmail.com
# 1	verma	shashwatverma@gmail.com
# 2	narayan	sumit@mgmail.com

      last                     email
0   vishal  vishalvivek488@gmail.com
1    verma   shashwatverma@gmail.com
2  narayan          sumit@mgmail.com

In [ ]:
# using loc w/o custom labels looks a lot like iloc because
# we have to use a numeric value

df.loc[0] # first row
# first                       vivek
# last                       vishal
# email    vishalvivek488@gmail.com
# Name: 0, dtype: object

df.loc[[0,1]] # getting first and second rows

#   first	    last	email
# 0	vivek	    vishal	vishalvivek488@gmail.com
# 1	shashwat	verma	shashwatverma@gmail.com

# now to get email of first and second person
df.loc[[0,1], 'email'] # df.iloc[[0,1], 2] # email is third column (2)

# 0    vishalvivek488@gmail.com
# 1     shashwatverma@gmail.com
# Name: email, dtype: object


# retriving multiple columns 
df.loc[[0,1], ['email', 'last']]

# getting email of first person
df.loc[0,'email'] # vishalvivek488@gmail.com
# note we can drop the brackets when selecting rows and a column together
# 
df.loc[0:1, 'email'] 
df.iloc[0:2, 2]

0    vishalvivek488@gmail.com
1     shashwatverma@gmail.com
Name: email, dtype: object

## Using Survey data

In [ ]:
res_df = pd.read_csv('data/survey_results_public.csv')
schema_df = pd.read_csv('data/survey_results_schema.csv')
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [ ]:
res_df.shape # rows. columns

res_df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [ ]:
res_df
# res_df['Hobbyist'] entire Hobbyist column

# to get total count
res_df['Hobbyist'].value_counts()
# value_counts() gives count of unique values
# in descending order, so most frequest is at the top
# ignores NA values by default


# Hobbyist
# Yes    71257
# No     17626
# Name: count, dtype: int64

Hobbyist
Yes    71257
No     17626
Name: count, dtype: int64

In [ ]:
res_df.loc[0] # first row
# column_name_1 value
# column_name_2 value

Respondent                                                                1
MainBranch                           I am a student who is learning to code
Hobbyist                                                                Yes
OpenSourcer                                                           Never
OpenSource                The quality of OSS and closed source software ...
Employment                           Not employed, and not looking for work
Country                                                      United Kingdom
Student                                                                  No
EdLevel                                           Primary/elementary school
UndergradMajor                                                          NaN
EduOther                  Taught yourself a new language, framework, or ...
OrgSize                                                                 NaN
DevType                                                                 NaN
YearsCode                                                                 4
Age1stCode                                                               10
YearsCodePro                                                            NaN
CareerSat                                                               NaN
JobSat                                                                  NaN
MgrIdiot                                                                NaN
MgrMoney                                                                NaN
MgrWant                                                                 NaN
JobSeek                                                                 NaN
LastHireDate                                                            NaN
LastInt                                                                 NaN
FizzBuzz                                                                NaN
JobFactors                                                              NaN
ResumeUpdate                                                            NaN
CurrencySymbol                                                          NaN
CurrencyDesc                                                            NaN
CompTotal                                                               NaN
CompFreq                                                                NaN
ConvertedComp                                                           NaN
WorkWeekHrs                                                             NaN
WorkPlan                                                                NaN
WorkChallenge                                                           NaN
WorkRemote                                                              NaN
WorkLoc                                                                 NaN
ImpSyn                                                                  NaN
CodeRev                                                                 NaN
CodeRevHrs                                                              NaN
UnitTests                                                               NaN
PurchaseHow                                                             NaN
PurchaseWhat                                                            NaN
LanguageWorkedWith                          HTML/CSS;Java;JavaScript;Python
LanguageDesireNextYear      C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL
DatabaseWorkedWith                                                   SQLite
DatabaseDesireNextYear                                                MySQL
PlatformWorkedWith                                            MacOS;Windows
PlatformDesireNextYear                              Android;Arduino;Windows
WebFrameWorkedWith                                             Django;Flask
WebFrameDesireNextYear                                         Flask;jQuery
MiscTechWorkedWith                                                  Node.js
MiscTechDesireNextYear                                              Node.js
DevEnviron                                       IntelliJ;Notepad++;PyCharm
OpSys                                                               Windows
Containers                                          I do not use containers
BlockchainOrg                                                           NaN
BlockchainIs                                                            NaN
BetterLife                                                              Yes
ITperson                           Fortunately, someone else has that title
OffOn                                                                   Yes
SocialMedia                                                         Twitter
Extraversion                                                         Online
ScreenName                                                         Username
SOVisit1st                                                             2017
SOVisitFreq                                 A few times per month or weekly
SOVisitTo                 Find answers to specific questions;Learn how t...
SOFindAnswer                                             3-5 times per week
SOTimeSaved                                  Stack Overflow was much faster
SOHowMuchTime                                                 31-60 minutes
SOAccount                                                                No
SOPartFreq                                                              NaN
SOJobs                    No, I didn't know that Stack Overflow had a jo...
EntTeams                                No, and I don't know what those are
SOComm                                                              Neutral
WelcomeChange                       Just as welcome now as I felt last year
SONewContent              Tech articles written by other developers;Indu...
Age                                                                    14.0
Gender                                                                  Man
Trans                                                                    No
Sexuality                                           Straight / Heterosexual
Ethnicity                                                               NaN
Dependents                                                               No
SurveyLength                                          Appropriate in length
SurveyEase                                       Neither easy nor difficult
Name: 0, dtype: object

In [ ]:
res_df.loc[[0,1,2], 'Hobbyist'] # retrieiving value of Hobbyist column 
# for first to third rows
# 0    Yes
# 1     No
# 2    Yes
# Name: Hobbyist, dtype: object

0    Yes
1     No
2    Yes
Name: Hobbyist, dtype: object

In [ ]:
# slicing:
# res_df.iloc[0:2] # 0, 1 row; exclusive end
res_df.loc[0:2] # 0,1 and 2 ; inclusive

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,NaN,"Developer, desktop or enterprise applications;...",NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,I am actively looking for a job,I've never had a job,NaN,NaN,Financial performance or funding status of the...,"Something else changed (education, award, medi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C++;HTML/CSS;Python,C++;HTML/CSS;JavaScript;SQL,NaN,MySQL,Windows,Windows,Django,Django,NaN,NaN,Atom;PyCharm,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,Yes,Yes,Yes,Instagram,Online,Username,2017,Daily or almost daily,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult

In [ ]:
res_df.loc[0:2, 'Hobbyist']

0    Yes
1     No
2    Yes
Name: Hobbyist, dtype: object

In [ ]:
res_df.loc[0:2, 'Hobbyist':'Employment']

,Hobbyist,OpenSourcer,OpenSource,Employment
0,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work"
1,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work"
2,Yes,Never,The quality of OSS and closed source software ...,Employed full-time