Updating rows and columns: modifying data within our dataframes

In [54]:
people = {
    "first": ['vivek', 'shashwat', 'sumit'],
    "last": ['vishal', 'verma', 'narayan'],
    "email": ['vishalviVek488@gmail.com', 'shashwatVerma@gmail.com', 'Sumit@mgmail.com']
}

In [2]:
import pandas as pd

In [55]:
df = pd.DataFrame(people)

In [56]:
df

      first     last                     email
0     vivek   vishal  vishalviVek488@gmail.com
1  shashwat    verma   shashwatVerma@gmail.com
2     sumit  narayan          Sumit@mgmail.com

In [5]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

### Updating columns

In [6]:
df.columns = ['first name', 'last name', 'email']

In [7]:
df

  first name last name                     email
0      vivek    vishal  vishalvivek488@gmail.com
1   shashwat     verma   shashwatverma@gmail.com
2      sumit   narayan          sumit@mgmail.com

In [8]:
df.columns = [x.upper() for x in df.columns]

In [9]:
df

  FIRST NAME LAST NAME                     EMAIL
0      vivek    vishal  vishalvivek488@gmail.com
1   shashwat     verma   shashwatverma@gmail.com
2      sumit   narayan          sumit@mgmail.com

In [10]:
df.columns = df.columns.str.replace(' ', '_')

In [11]:
df

  FIRST_NAME LAST_NAME                     EMAIL
0      vivek    vishal  vishalvivek488@gmail.com
1   shashwat     verma   shashwatverma@gmail.com
2      sumit   narayan          sumit@mgmail.com

In [12]:
df.columns = [x.lower() for x in df.columns]

In [13]:
df

  first_name last_name                     email
0      vivek    vishal  vishalvivek488@gmail.com
1   shashwat     verma   shashwatverma@gmail.com
2      sumit   narayan          sumit@mgmail.com

In [14]:
df.rename(columns={'first_name':'first', 'last_name': 'last'})

      first     last                     email
0     vivek   vishal  vishalvivek488@gmail.com
1  shashwat    verma   shashwatverma@gmail.com
2     sumit  narayan          sumit@mgmail.com

In [15]:
df

  first_name last_name                     email
0      vivek    vishal  vishalvivek488@gmail.com
1   shashwat     verma   shashwatverma@gmail.com
2      sumit   narayan          sumit@mgmail.com

to persistent changes, use "inplace=True"

In [25]:
df.rename(columns={'first_name':'first', 'last_name':'last'}, inplace=True)

In [26]:
df

      first     last                     email
0     vivek   vishal  vishalvivek488@gmail.com
1  shashwat    verma   shashwatverma@gmail.com
2     sumit  narayan          sumit@mgmail.com

### Updating rows

In [27]:
df.loc[2]

first               sumit
last              narayan
email    sumit@mgmail.com
Name: 2, dtype: object

let's replace a couple of values

In [31]:
df.loc[2] = ['Dhirendra', 'Singh', 'dhirendra.singh@gmail.com'] # have to specify all the col

In [32]:
df

       first    last                      email
0      vivek  vishal   vishalvivek488@gmail.com
1   shashwat   verma    shashwatverma@gmail.com
2  Dhirendra   Singh  dhirendra.singh@gmail.com

In [33]:
# just changing email for 3rd person
df.loc[2, 'email'] = 'Dhiru@gmail.com'

In [34]:
df

       first    last                     email
0      vivek  vishal  vishalvivek488@gmail.com
1   shashwat   verma   shashwatverma@gmail.com
2  Dhirendra   Singh           Dhiru@gmail.com

In [35]:
# replacing first name and email
df.loc[2, ['first', 'email']] = ['Dhiru', 'dhirenndra.singh@gmail.com']

In [36]:
df

      first    last                       email
0     vivek  vishal    vishalvivek488@gmail.com
1  shashwat   verma     shashwatverma@gmail.com
2     Dhiru   Singh  dhirenndra.singh@gmail.com

In [37]:
# .at method
df.at[2, 'last'] = 'Sin'

In [38]:
df

      first    last                       email
0     vivek  vishal    vishalvivek488@gmail.com
1  shashwat   verma     shashwatverma@gmail.com
2     Dhiru     Sin  dhirenndra.singh@gmail.com

What happens if we try changing without using the .loc or .at method

In [39]:
filt = (df['email'] == 'dhirenndra.singh@gmail.com')
df[filt] # results a dataframe:

#       first 	last 	email
# 2 	Dhiru 	Sin 	dhirenndra.singh@gmail.com

   first last                       email
2  Dhiru  Sin  dhirenndra.singh@gmail.com

In [40]:
df[filt]['last']

2    Sin
Name: last, dtype: object

In [43]:
df[filt]['last'] ='Singh'
# value can't be set on a copy of a slice from a df
# advised to use .loc[row_indexer, col_indexer] = value

/tmp/ipykernel_157607/2277118511.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[filt]['last'] ='Singh'

In [44]:
df # not change

      first    last                       email
0     vivek  vishal    vishalvivek488@gmail.com
1  shashwat   verma     shashwatverma@gmail.com
2     Dhiru     Sin  dhirenndra.singh@gmail.com

See the explanation in the error message link for details, but the short version is that the way we're doing this requires multiple operations in the background to determine whether pandas returns a view or a copy of our dataset. Here, our value is only getting set on a temporary object that pandas discards immediately after.

In [47]:
filt = (df['email'] == 'vishalvivek488@gmail.com')
df.loc[filt, 'last'] = 'Vi'

In [57]:
df

      first     last                     email
0     vivek   vishal  vishalviVek488@gmail.com
1  shashwat    verma   shashwatVerma@gmail.com
2     sumit  narayan          Sumit@mgmail.com

for multiple rows:

In [58]:
df['email'].str.lower() # doesn't change original df
# to effect the change, just assign
# new values to df['email']

0    vishalvivek488@gmail.com
1     shashwatverma@gmail.com
2            sumit@mgmail.com
Name: email, dtype: object

In [60]:
df['email'] = df['email'].str.lower()

In [61]:
df

      first     last                     email
0     vivek   vishal  vishalvivek488@gmail.com
1  shashwat    verma   shashwatverma@gmail.com
2     sumit  narayan          sumit@mgmail.com

#### More Advanced Methods

methods to change multiple rows at once:
- apply
- map
- applymap
- replace

#### apply

In [62]:
df['email'].apply(len)

0    24
1    23
2    16
Name: email, dtype: int64

changing all emails to uppercase using simple function

In [63]:
def update_email(email):
    return email.upper()

In [67]:
# apply function to a series : email func
df['email'].apply(update_email)

0    VISHALVIVEK488@GMAIL.COM
1     SHASHWATVERMA@GMAIL.COM
2            SUMIT@MGMAIL.COM
Name: email, dtype: object

In [68]:
df

      first     last                     email
0     vivek   vishal  vishalvivek488@gmail.com
1  shashwat    verma   shashwatverma@gmail.com
2     sumit  narayan          sumit@mgmail.com

In [69]:
# to persist changes to original df
df['email'] = df['email'].apply(update_email)

In [70]:
df

      first     last                     email
0     vivek   vishal  VISHALVIVEK488@GMAIL.COM
1  shashwat    verma   SHASHWATVERMA@GMAIL.COM
2     sumit  narayan          SUMIT@MGMAIL.COM

In [71]:
# using lambda function to lowercase all emails
df['email'] = df['email'].apply(lambda x: x.lower())

In [72]:
df

      first     last                     email
0     vivek   vishal  vishalvivek488@gmail.com
1  shashwat    verma   shashwatverma@gmail.com
2     sumit  narayan          sumit@mgmail.com